* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumb Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 1.2rem;
    /*1 rem=16 pixels;*/
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#bap {
    color: rgb(238, 8, 8);


}

.fa-hashtag {
    margin-right: 0.5em;

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
    text-decoration: none;
}

.navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
    text-decoration: none;
}

.button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    text-decoration: none;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: red;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        padding: 0;
        z-index: 1;
        max-width: 1300px;
        width: 100%;
        height: 80px;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        opacity: 0;
        top: -1000px;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        z-index: 99;
        transition: all 0.5d ease;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ffff;

    }

    .navbar__item {
        width: 100%;
        max-width:1300px;
    }

    .navbar__links {
        text-align: center;
        padding: 0rem;
        width: 100%;
        display: table;

    }

    #moile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 80px;
        width: 80%;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;

    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate-(45deg);
    }
}

/* For Image */

.main {
    width: 100vw;
    max-width: 100%;
    height: 90vh;
    position: relative;
}

#bg {
    background-image: url("/images/pic1.jpg");
    background-repeat: no-repeat;
    height: 100%;
    filter: blur(2px);
    background-size: cover;
    background-position: center;
}

.main__container{
    flex-wrap:wrap;
position: absolute;
z-index: 10;
top: 40%;
text-align:center;
    height: 100%;
}

.main__content {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    margin-left:90px;
    margin-right: -90% ;
  
}
.main__content h1{
    font-size:45px;
}
.main__content h2{
    font-size:19px;
}
.main__btn{
    font-size:1rem;
    background-image:linear-gradient(to top,white 0%, pink 100%);
   border:none;
    border-radius:4px;
    color:white;
    padding:14px 32px;
    margin-top:1rem;
    cursor: pointer;
    position: relative;
outline:none;
transition: all 0.3s;

}
.main__btn a{
    position: relative;
    z-index:2;
    color:blueviolet;
    text-decoration:none;

}

.main__btn:after{
    position: absolute;
content:'';
top:0;
left:0;
height:100%;
background:blue;
transition: all 0.35s;
border-radius:4px;

}
.main__btn:hover{
    color:white;

}
.main__btn:hover:after{
    width: 100%
}

/*footer*/

.foot__container{
    background-color:rgb(0, 68, 255);
    text-align:center;
   padding: 0%;
 
   
    
}
.ft_hd
{
    padding:5rem;
margin-bottom:-21px;
}
.foot__container h1{
    text-align:center;
    font-size:43px;
    color:white;
    margin-bottom:-1000px;

}

.foot__container h2{
    text-align:center;
    font-size:16px;
    color:#ffffff;
}

#mail
{ 
    text-align:center;
    margin-top:1rem;
    height:42px;
    font-size:20px;
}
#sub{
    font-size: 18px;
    border:none;
    border-radius:3%;
    width:220px;
    height:33px;
    background-color:blue;
}

.foot__container h3{
    margin-top:10px;
    font-size:20px;
    color:white;
margin-top:6rem;
margin-left:-82%;
}

.para{
    margin-top:1px;
    font-size:14px;
    color:white;
margin-left:-59%;
text-justify: auto;

}
.foot__container h5{
    font-size:12px;
    margin-left:-73%;
}
/*WHYUS*/
.head{
    clear:center;
    margin-top:30px;
    padding: 100px;
    text-align:center;
    font-size:39px;
       
}
.us_container
{
    box-sizing:border-box;
    padding:0;
    margin-top:-5%;

}
.container{
    margin-top:-6%;
flex-wrap:wrap;
    display:flex;
    justify-content: center;
    padding:-100px;
    margin-bottom:-30px;

}
.card{
    box-shadow: 13px 13px whitesmoke;
    border-radius:30px;
    background:white;
    width:290px;
    height:430px;
    margin:10px;
   font-size:14px;
   align-items: center;
 text-align: center;
   
}

.card__img{
    border-radius:20px;
       height:260px;
background-size:cover;
    margin-bottom:15px;
}  
.card__img img{
    border-radius:7%;
}
.card h2{
    padding:8px;
}
.card pre{
    font-size:15px;
    padding:10px;
    margin-left:-90px;
}


/* TEST */
.test_container{
    background-color:rgb(0, 60, 255);
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:700px;
    position:relative;
}
.test_container h2{
    text-align:center;
    margin-top:-91px;
    font-size:14px;
    color:#ffffff;
}
.test_container pre{
    font-size:21px;
    color:white;
    margin-top:100px;
    margin-left:14%;
}
@media (max-width:800px){
    .test-container{
        flex-direction:column;
    }
}
.test-img{
    float:right;

    margin-top:-15%;
    margin-right:8%;
    margin-bottom:0%;
     margin-left:-60px;

}
.test-img h1{
    margin-top: 10%;
}
img{
    border-radius:5%;
}



/* course */
.course-container{
    box-sizing: border-box;
    background-color:black;
    display:flex;
    justify-content: space-between;
    padding:40px;
    width:100%;
    height:600px;
    color: #ffffff;

    }

    .course-container img{
float:right;      
width:650px;

    }
.course-container h1{
    margin-top:23%;
font-size: 40px;
    color:white;
    text-align:left;
    margin-left:10%;    
}
.course-container pre{
    text-align: center;
    font-size: 15px;
    color:white;
    margin-top:1%;
    margin-left:10px;
}
.course-co{
    margin-top:10%;
}


/* Work */
.ws-container{
    box-sizing:border-box;
    background-color: white;
    text-align:left;
    display:flex;
    justify-content: space-between;
    padding:40px;
    width:100%;
    height:600px;

}
.ws-container img{
    float:left;
    width:50%;
}
.ws-container h1{
    margin-top:10%;
    margin-bottom:1%;
}

.ws-container h3{
    margin-top:6%;
}
.ws-container p{
    
    color:gray;
}
.lis{
    color:gray;
font-size:14px;
}
/*offer*/

.offer-container
{
    box-sizing:border-box;
    padding: 1px;
    margin-top:-5%;

}
.flex-container{
    margin-top:-6%;
    flex-direction:row;
flex-wrap:wrap;
    display:flex;
    /* justify-content: center; */
    padding:-100px;
    margin-bottom:-30px;
margin-left:10%;
}

.row{
    box-shadow: 13px 13px white;
    padding:3%;
     border-radius:30px; 
    background-color:white;
    width:430px;
    height:400px;
    margin:10px;
   font-size:14px;
   align-items: center;
   margin-left:-6%;

 text-align: center;
 margin-bottom: 45px;
   
}
/* #tst{
    border-radius: -50%;
} */
.column{
    /* width:25%; */
    padding: 0 10px;
    border-radius:50%;
       height:260px;
background-size:cover;
    margin-bottom:15px;
}  
.column img{
    border-radius:50%;
    border-style: outset;

}
.column h2{
    padding:8px;
}
.column pre{
    font-size:11px;
    padding:4px;
    margin-left:60px;
    /* width:400px; */
}

@media (max-width:800px){
    .flex-container{
        flex-direction:column;
    }
} 
.row:after {
  content: "";
  display: table;
  clear: both;
}